<div class="product-list"> 
  
  <!-- Pour debug : afficher le tableau brut en JSON --> 
  <!-- <pre>{{ products() | json }}</pre> --> 
  
  @for (product of products(); track product.id) { 
    <app-productitem [product]="product"
    (displayProductViewModal)="onDisplayProductViewModal($event)">
    </app-productitem>
  } 
</div> 

@if (isDisplayModal() && modalProduct()) { 
  <app-modal-product-view 
    [product]="modalProduct()" 
    (close)="onCloseModal()" 
    (favoriteAdded)="onFavoriteAdded($event)"
  /> 
} 

